.header-text {
  font-size: smaller;
}

.got-it {
  color: lightgreen ;
}

.failed {
  color: red;
}

.got-it-wrapper {
  transition: display 1s;
}

.already-selected {
  color: white;
  border-color: #000000;
}

.selected-1 {
  background-color: #39bf22;
}

.selected-x {
  background-color: #868e96;
}

.selected-2 {
  background-color: #c33737;
}
